*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'open sans';
}

header{
    width: 100%;
    height: 1000px;
    background: #576fbe;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(216, 74%, 52%, 0.459), hsla(246, 97%, 49%, 0.664)), url("/static/img/herramientas.jpg") 50% 0 no-repeat fixed;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(216, 74%, 52%, 0.459), hsla(246, 97%, 49%, 0.664)), url("/static/img/herramientas.jpg") 50% 0 no-repeat fixed;
	background-size: cover;
    background-attachment: fixed;
	position: relative;
}

nav{
    text-align: right;	
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

footer{
    background: #4e4e4e;
    padding: 31px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
